.cardBook{
    position: sticky;
    top: 0;
};

.tow-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn-right-side{
    width: 70%;
    font-size: 18px;
    padding: 3px;
    background-color:  white;
    border-radius: 10px;
    margin-left: 10px;
}