.book-container{
    background-color: rgb(243, 200, 147);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 10 50px 10;
    border-radius: 10px;
}
.book-display{
    background-color: bisque;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.selected-books{
font-size: 20px;
}
.h3, h3 {
    font-size: 1.5rem;
}
.h2, h2 {
    font-size: 1.6rem;
}

@media screen and (max-width:768px){
    .book-display{
        grid-template-columns: repeat(1, 1fr);
        
    }
    
}
