.book-container{
    background-color: rgb(243, 200, 147);
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.book-display{
    background-color: bisque;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}